<div class="main">
    <div class="container" style="margin-top: 50px; width:80%">
    <h2>New Post</h2>
    <br>
    <%= form_tag posts_path, multipart: true do %>
        <div class="input-field">
            <%= file_field_tag :image %>
        </div>
        <br>
        <h4>Description</h4>
        <div class="input-field">
            <%= text_area_tag :content, nil, rows: 100, placeholder: "Description" %>
        </div>
                        
        <div class="input-field">
            <%= button_tag "Create", class: "btn" %>
        </div>
    <% end %>
    </div>
</div>
